* {
    color: #282c34;
    font-family: "Iosevka NF", "Sarasa Mono SC";
    font-size: 18px;
}

.bar {
    background: rgba(40, 44, 52, 0);
}

.ws-btn {
    background: rgba(92, 99, 112, 0.4);
    border: 2px solid rgba(171, 178, 191, 0.4);
    border-radius: 12px;
    margin: 2px 2px;
    padding: 0 8px;
}

.ws-btn.active {
    background: #ebdbb2;
    color: #282c34;
}

.ws-btn.empty {
    color: #abb2bf;
}

.ws-btn:hover {
    font-weight: bold;
}

.ws-btn.populated {
    border: 2px solid rgba(171, 178, 191, 0.4);
    color: #ebdbb2;
}

.komorebi-active-layout .label {
    background: rgba(92, 99, 112, 0.4);
    color: #ebdbb2;
    margin: 2px 2px;
}

.komorebi-multi-window .window,
.komorebi-multi-window .window-focused,
.komorebi-multi-window .window-monocle {
    border-radius: 12px;
    margin: 2px 2px;
    padding: 2px 8px;
    text-align: left;
}

.komorebi-multi-window .window {
    background: #98c379;
}

.komorebi-multi-window .window-focused {
    background: #e5c07b;
}

.komorebi-multi-window .window-monocle {
    background: #e06c75;
}

.input-method-widget .label,
.wifi-widget .label,
.traffic-widget .label,
.cpu-widget .label,
.memory-widget .label,
.gpu-widget .label,
.battery-widget .label,
.clock-widget .label {
    border-radius: 12px;
    margin: 2px 2px;
    padding: 0 4px;
}

.input-method-widget .label {
    background: #d19a66;
}

.wifi-widget .label {
    background: #98c379;
}

.traffic-widget .label {
    background: #98c379;
}

.cpu-widget .label {
    background: #e06c75;
}

.memory-widget .label.status-low {
    background: #98c379;
}

.memory-widget .label.status-medium {
    background: #e5c07b;
}

.memory-widget .label.status-high {
    background: #e06c75;
}

.memory-widget .label.status-critical {
    background: #f44747;
}

.gpu-widget .label {
    background: #e06c75;
}

.battery-widget .label.status-critical {
    background: #f44747;
}

.battery-widget .label.status-low {
    background: #e06c75;
}

.battery-widget .label.status-medium {
    background: #d19a66;
}

.battery-widget .label.status-high {
    background: #e5c07b;
}

.battery-widget .label.status-full {
    background: #98c379;
}

.battery-widget .label.status-charging {
    background: #98c379;
}

.clock-widget .label {
    background: #c678dd;
}
