================================

bbs.imoutolove.me

CSS
.h,
.h2,
.tr2,
#infobox,
#breadcrumbs,
#u-wrap2,
body {
    background-image: none !important;
}

================================

kf.miaola.work

CSS
html, body {
    background-color: var(--darkreader-neutral-background) !important;
    background-image: none !important
}
#kfekanban {
    display: none !important;
}
