* {
    color: #cdd6f4;
    font-family: "Sarasa Mono SC", "Maple Mono NF CN";
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.yasb-bar {
    margin: 0;
    padding: 0;
}

.widget {
    background-color: #1e1e2e;
    margin: 0;
    padding: 0 4px;
}
.widget .label {
    padding: 1px 2px 1px 2px;
}
.widget .label.alt {
    padding: 1px 8px 1px 8px;
}

.container-left,
.container-center,
.container-right {
    margin: 0;
    padding: 0;
}

.komorebi-workspaces .widget-container,
.komorebi-active-layout .widget-container,
.wifi-widget .widget-container {
    background-color: #313244;
    border-radius: 14px;
    margin: 4px 0;
}

.komorebi-workspaces {
    border-bottom-left-radius: 18px;
    border-top-left-radius: 18px;
}
.komorebi-workspaces .ws-btn {
    background-color: transparent;
    border: none;
    color: #6c7086;
    margin: 0 4px;
}
.komorebi-workspaces .ws-btn.populated {
    color: #89b4fa;
}
.komorebi-workspaces .ws-btn:hover,
.komorebi-workspaces .ws-btn.populated:hover,
.komorebi-workspaces .ws-btn.active {
    color: #fab387;
}

.komorebi-active-layout {
    border-bottom-right-radius: 18px;
    border-top-right-radius: 18px;
    padding-left: 0;
}
.komorebi-active-layout .label {
    padding: 0;
}

.media-widget {
    border-radius: 18px;
    margin-left: 8px;
    padding: 0;
}
.media-widget .label {
    background-color: transparent;
}
.media-widget .btn {
    margin: 4px 0;
    padding: 0 4px;
}
.media-widget .btn:hover {
    color: #89b4fa;
}
.media-widget .btn.play {
    background-color: #313244;
    border-radius: 14px;
}
.media-widget .btn.disabled:hover,
.media-widget .btn.disabled {
    background-color: transparent;
    color: #45475a;
}

.komorebi-multi-window {
    background-color: transparent; 
    margin: 0 8px;
}

.komorebi-multi-window .window,
.komorebi-multi-window .window-focused,
.komorebi-multi-window .window-monocle {
    border-radius: 18px;
    height: 100%;
    margin: 0 4px;
    padding: 0px 8px;
    text-align: left;
}

.komorebi-multi-window .window {
    background-color: #313244;
}

.komorebi-multi-window .window-focused {
    background: #89b4fa;
    color: #1e1e2e;
}

.komorebi-multi-window .window-monocle {
    background: #cba6f7;
    color: #1e1e2e;
}

.language-widget {
    border-radius: 18px;
    margin-right: 8px;
}
.language-widget .icon {
    color: #fab387;
    margin-right: 6px;
}

.wifi-widget {
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    padding-right: 0;
}
.wifi-widget .icon {
    color: #89b4fa;
    padding: 0 6px;
}
.wifi-widget .label {
    padding-right: 8px;
}
.cpu-widget .icon {
    color: #f38ba8;
    margin-right: 6px;
}
.memory-widget .icon {
    color: #cba6f7;
    margin-right: 6px;
}
.memory-widget.status-low .icon {
    color: #a6e3a1;
}
.memory-widget.status-medium .icon {
    color: #f9e2af;
}
.memory-widget.status-high .icon {
    color: #fab387;
}
.memory-widget.status-critical .icon {
    color: #f38ba8;
}
.gpu-widget {
    border-bottom-right-radius: 18px;
    border-top-right-radius: 18px;
    margin-right: 8px;
}
.gpu-widget .icon {
    color: #f5c2e7;
    margin-right: 6px;
}

.volume-widget {
    border-bottom-left-radius: 18px;
    border-top-left-radius: 18px;
}
.volume-widget .icon {
    color: #89b4fa;
    margin-right: 2px;
}
.battery-widget .icon {
    margin-right: 6px;
}
.battery-widget.status-charging .icon {
    color: #74c7ec;
}
.battery-widget.status-full .icon {
    color: #94e2d5;
}
.battery-widget.status-high .icon {
    color: #a6e3a1;
}
.battery-widget.status-medium .icon {
    color: #f9e2af;
}
.battery-widget.status-low .icon {
    color: #fab387;
}
.battery-widget.status-critical .icon {
    color: #f38ba8;
}
.clock-widget {
    border-bottom-right-radius: 18px;
    border-top-right-radius: 18px;
    padding-right: 6px;
}
.clock-widget .icon {
    color: #cba6f7;
    margin-right: 6px;
}
